<a href="https://colab.research.google.com/github/yeyevtushenko/AI/blob/Lesson26.02.2024/Lesson26_02_2024_AI_P_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпорт модуля pandas

In [1]:
import pandas as pd

Дані про пасажирів корабля:
* pclass -- клас білета(перший, другий або третій)
* sex -- стать
* age -- вік
* sibsp -- кількість братів\сестер та чоловіків\дружин на борту
* parch -- кількість дітей та батьків на борту
* fare -- вартість поїздки
* embarked -- Порт посадки (C = Шербур, Q = Квінстаун, S = Саутгемптон)

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/ship_passengers.csv",
                 index_col="Unnamed: 0")

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [4]:
df.shape
df.columns
df.dtypes
df.columns[df.isnull().any()].tolist()

print(df)

     pclass     sex   age  sibsp  parch     fare embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

# Завдання 2
Скільки пасажирів сіло у Квінстауні?

In [5]:
(df["embarked"]=="Q").sum()

77

# Завдання 3
Виведіть стать, вік та вартість поїздки для пасажирів з білетом першого класу

In [6]:
df[df["pclass"]==1][["sex","age","fare"]]

        sex   age     fare
1    female  38.0  71.2833
3    female  35.0  53.1000
6      male  54.0  51.8625
11   female  58.0  26.5500
23     male  28.0  35.5000
..      ...   ...      ...
871  female  47.0  52.5542
872    male  33.0   5.0000
879  female  56.0  83.1583
887  female  19.0  30.0000
889    male  26.0  30.0000

[216 rows x 3 columns]

# Завдання 4
Ввиведіть дані про неповнолітніх чоловіків з Шербура

In [7]:
df[(df["sex"]=="male")&(df["age"]>=18)]

     pclass   sex   age  sibsp  parch     fare embarked
0         3  male  22.0      1      0   7.2500        S
4         3  male  35.0      0      0   8.0500        S
6         1  male  54.0      0      0  51.8625        S
12        3  male  20.0      0      0   8.0500        S
13        3  male  39.0      1      5  31.2750        S
..      ...   ...   ...    ...    ...      ...      ...
883       2  male  28.0      0      0  10.5000        S
884       3  male  25.0      0      0   7.0500        S
886       2  male  27.0      0      0  13.0000        S
889       1  male  26.0      0      0  30.0000        C
890       3  male  32.0      0      0   7.7500        Q

[395 rows x 7 columns]

# Завдання 5
Створіть новий стовпчик relatives -- загальна кількість родичів на борту для кожного пасажира

In [8]:

df["relatives"]=df["sibsp"]+df["parch"]
print(df)

     pclass     sex   age  sibsp  parch     fare embarked  relatives
0         3    male  22.0      1      0   7.2500        S          1
1         1  female  38.0      1      0  71.2833        C          1
2         3  female  26.0      0      0   7.9250        S          0
3         1  female  35.0      1      0  53.1000        S          1
4         3    male  35.0      0      0   8.0500        S          0
..      ...     ...   ...    ...    ...      ...      ...        ...
886       2    male  27.0      0      0  13.0000        S          0
887       1  female  19.0      0      0  30.0000        S          0
888       3  female   NaN      1      2  23.4500        S          3
889       1    male  26.0      0      0  30.0000        C          0
890       3    male  32.0      0      0   7.7500        Q          0

[891 rows x 8 columns]

# Завдання 6
Видаліть стовпчик, в якому найбільше пропусків. Якщо пропущені значення ще залишаться, видаліть рядки з пропусками

In [9]:
column = df.isnull().sum(axis=0).argmax()
df.drop(columns=[df.columns[column]], inplace=True)
df.dropna(inplace=True)
print(df)

     pclass     sex  sibsp  parch     fare embarked  relatives
0         3    male      1      0   7.2500        S          1
1         1  female      1      0  71.2833        C          1
2         3  female      0      0   7.9250        S          0
3         1  female      1      0  53.1000        S          1
4         3    male      0      0   8.0500        S          0
..      ...     ...    ...    ...      ...      ...        ...
886       2    male      0      0  13.0000        S          0
887       1  female      0      0  30.0000        S          0
888       3  female      1      2  23.4500        S          3
889       1    male      0      0  30.0000        C          0
890       3    male      0      0   7.7500        Q          0

[889 rows x 7 columns]